body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(to bottom, #5D026F, #efc3c3);
    display: flex;
    flex-direction: column;
  }

.website-title{
  margin-top: 20px;
}
.website-title h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;

}

.dropdown {

  width: 100%;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  color: white;
}

.dropdown h4{
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 40px; 
}

.dropdown-menu.dropDownContent {
  background-color: white !important;
}


.btn-success{
  margin-top: 10px;
  width: 300px;
  background-color: white;
}

.btn-success:hover{
  background-color: white;
}

.btn-success h5{
  color: black;
  font-size: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust as needed to center vertically within the viewport */
}

.go-button{
  background-color: #33b249;
  width: 100px;
  border-radius: 10px;
  align-self: center;
}

.go-button:hover{
  background-color: white;
  color: black;
}


.machine-learning {
  color: white;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif; 
  width: 10%;
}

.algorithms {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left; 

}
.algorithms h3 {
  color: white;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 20px; /* Adjust as needed for spacing */
}


.footer {
    margin-top: auto;
    padding: 20px;
    text-align: center;
}

.footer-line {
    border-top: 5px solid #FFFFFF; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  margin-left: auto; 
}

.footer-logo {
  max-width: 200px; 
  height: auto;
}
.names {
  text-align: left;
}

.names h5 {
  color: white; 
  font-size: 14px; 
  font-family: 'Montserrat', sans-serif;
}

.separator {
  margin: 0 30px; 
}

.head_info {
  height: auto; /* Change to 'auto' to let it adjust based on content */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 50px;
}

.top-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
  height: 50px; /* Adjust as needed */
}

.back-button {
  background-color: #33b249;
  width: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.back-button:hover{
  background-color: white;
  color: black;
}

.head_info h1 {
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  margin-left: 20px;
}

.head_info h2 {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  margin-left: 20px;
}


.info-logo{
  margin-left: 20px;
}


/* Style for the checkbox container */
.form-check {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px; 
}

/* Style for the checkbox input */
.form-check-input {
  width: 20px;
  height: 20px; 
  margin-top: 2px; 
  background-color: #fff; 
}

/* Style for the checked checkbox input */
.form-check-input:checked {
  background-color: green; /* Set the background color to green for checked checkboxes */
}

/* Style for the checkbox label */
.form-check-label {
  margin-left: 5px; /* Add some spacing between the checkbox and the label */
  display: flex;
  flex-wrap: wrap;
}


.third-row {
  display: flex;
  justify-content: space-between;
}


.container-top{
  display: flex;
  justify-content: space-between;
  width: 85%;
}


.right-img{
  margin-top: 40px;
  width: 150px;
  height: auto;

  color: white;
}

.right-side{
  display: flex;
  align-items: center;
}

.right-info{
  margin-left: 50px;
}


.right-info h2 {
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.right-info h1 {
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}