{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{% block content %}

<div class="algorithms">
    <h3>Choose Algorithm:</h3>
    <div class="machine-learning">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectedAlgorithm" id="algorithm1" value="ANN" checked>
            <label class="form-check-label" for="algorithm1">
                <h3>ANN</h3>
            </label>
            <img src="{{ url_for('static', filename='images/info.svg') }}" alt="Logo" class="info-logo" onclick="showInfo('ANN_info')">
        </div>
        <div id="ANN_info" class="info-text" style="display: none;">
          ANN is a computational model inspired by the human brain, consisting of interconnected nodes 
          organized in layers
          <br>
          <a href="https://www.ibm.com/topics/neural-networks">More info</a>
        </div>
        
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectedAlgorithm" id="algorithm2" value="LSTM">
            <label class="form-check-label" for="algorithm2">
              <h3>LSTM</h3>
            </label>
            <img src="{{ url_for('static', filename='images/info.svg') }}" alt="Logo" class="info-logo" onclick="showInfo('LSTM_info')">
        </div>
        <div id="LSTM_info" class="info-text" style="display: none;">
          LSTM is a type of recurrent neural network (RNN) designed to overcome the vanishing gradient problem
          <a href="https://www.analyticsvidhya.com/blog/2021/03/introduction-to-long-short-term-memory-lstm/">More info</a>
        </div>
    
    </div>
</div>


<div class="dropdown">
  <h4>City</h4>
  <button class="btn btn-success dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
    <h5 id="selectedOption">Select City</h5>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownOptions">
    <a class="dropdown-item" href="#" onclick="selectOption('Paris')">Paris</a>
    <a class="dropdown-item" href="#" onclick="selectOption('Madrid')">Madrid</a>
    <a class="dropdown-item" href="#" onclick="selectOption('Windhoek')">Windhoek</a>
    <a class="dropdown-item" href="#" onclick="selectOption('Tokyo')">Tokyo</a>
  </div>
</div>


<form method="POST" action="/" id="cityForm">
    <input type="hidden" name="selectedCity" id="selectedCity" value="">
    <input type="hidden" name="selectedAlgorithm" id="selectedAlgorithm" value="">
    <button type="submit" class="btn go-button btn-success" id="go-button">GO!</button>
</form>


<div id="overlay" style="display: none;">
  <div class="overlay-content">
      <h2>Loading...</h2>
      <p>Model loading might take some time</p>
      <div id = "rmse" class="info-rmse">
        <!-- we get the value of the algorithm selected-->
        <div>
          <p>RMSE for ANN</p>
          <p>{{info_ANN}}</p>
        </div>
        <div>
          <p>RMSE for LSTM</p>
          <p>{{info_LSTM}}</p>
        </div>
      </div>
  </div>
</div>



<script>
  function toggleDropdown() {
    document.getElementById("dropdownOptions").classList.toggle("show");
  }

  function selectOption(option) {
    document.getElementById("selectedOption").innerHTML = option;
    document.getElementById("selectedCity").value = option;
    document.getElementById("dropdownOptions").classList.remove("show");
  }

  document.addEventListener('DOMContentLoaded', function () {
        var algorithmRadios = document.querySelectorAll('input[name="selectedAlgorithm"]');
        algorithmRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                // Update the selectedAlgorithm value when a radio button is selected
                document.getElementById("selectedAlgorithm").value = this.value;
            });
        });

        document.getElementById("go-button").addEventListener("click", function () {
            // Display the overlay when go botton is clicked
            document.getElementById("overlay").style.display = "block";
        });
    });



  window.onclick = function(event) {
    if (!event.target.matches('.dropdown-toggle')) {
      var dropdowns = document.getElementsByClassName("dropdown-menu");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }

  function showInfo(infoId) {
        var infoElement = document.getElementById(infoId);
        if (infoElement.style.display === "none" || infoElement.style.display === "") {
            infoElement.style.display = "block";
        } else {
            infoElement.style.display = "none";
        }
    }

</script>


{% endblock %}