{% extends 'base.html' %}

{%block title%}Home{%endblock%}

{% block content %}

<div class="algorithms">
    <h3>Choose Algorithm:</h3>
    <div class="machine-learning">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectedAlgorithm" id="algorithm1" value="ANN" checked>
            <label class="form-check-label" for="algorithm1">
                ANN
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="selectedAlgorithm" id="algorithm2" value="LSTM">
            <label class="form-check-label" for="algorithm2">
                LSTM
            </label>
        </div>
    </div>
</div>


<div class="dropdown">
  <h4>City</h4>
  <button class="btn btn-secondary custom-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="toggleDropdown()">
    <h5 id="selectedOption">Select City</h5>
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="dropdownOptions">
    <a class="dropdown-item" href="#" onclick="selectOption('Paris')">Paris</a>
    <a class="dropdown-item" href="#" onclick="selectOption('Madrid')">Madrid</a>
    <a class="dropdown-item" href="#" onclick="selectOption('Stockholm')">Stockholm</a>
    <a class="dropdown-item" href="#" onclick="selectOption('Tokyo')">Tokyo</a>
  </div>
</div>


<form method="POST" action="/" id="cityForm">
    <input type="hidden" name="selectedCity" id="selectedCity" value="">
    <input type="hidden" name="selectedAlgorithm" id="selectedAlgorithm" value="">
    <button type="submit" class="btn go-button btn-success" id="go-button">GO!</button>
</form>

<script>
  function toggleDropdown() {
    document.getElementById("dropdownOptions").classList.toggle("show");
  }

  function selectOption(option) {
    document.getElementById("selectedOption").innerHTML = option;
    document.getElementById("selectedCity").value = option;
    document.getElementById("dropdownOptions").classList.remove("show");
  }

  document.addEventListener('DOMContentLoaded', function () {
        var algorithmRadios = document.querySelectorAll('input[name="selectedAlgorithm"]');
        algorithmRadios.forEach(function (radio) {
            radio.addEventListener('change', function () {
                // Update the selectedAlgorithm value when a radio button is selected
                document.getElementById("selectedAlgorithm").value = this.value;
            });
        });
    });



  window.onclick = function(event) {
    if (!event.target.matches('.dropdown-toggle')) {
      var dropdowns = document.getElementsByClassName("dropdown-menu");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>





{% endblock %}